.day__1 {
  background-image: url(../src/day-1/avi-richards-unsplash-optimized.jpg);
  color: $color-day-1;
  .day__link{
    color: $color-day-1; //main color
    border-bottom: 1px solid $color-day-1;
    &:hover{
      color: complement($color-day-1); //main color-hover
      border-bottom: 1px solid complement($color-day-1); //main color
    }
  }
  .day__info{
    color: $color-day-1;
  }
  @keyframes color-change {
    0% { color: $color-day-1; border-color: $color-day-1; }
    33% { color: $color-text-hover; border-color: $color-text-hover; }
    66% { color: $color-text-active; border-color: $color-text-active; }
    100% { color: $color-day-1; border-color: $color-day-1; }
  }
}

.keypressed-wrap{
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
}
#keypressed{
  min-width: 5rem;
  height: 5rem;
  padding: 1rem;
  border: 1px solid $color-day-1;
  border-radius: 6px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: $font-main;
  animation: color-change $animation-time infinite;
  opacity: 0;
  transition: all 0.4s;
  transition-timing-function: ease-out;
}
.keypressed-animation{
  opacity: 1!important;
}
.keys {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 10rem;
  max-width: 60rem;
  .key {
    border-radius: 2px;
    margin: 1rem;
    padding: 1rem;
    transition: all 0.1s;
    text-align: center;
    color: $color-main-dark;
    background-color: $color-day-1;
    min-width: 130px;
    font-size: 3rem;
    kbd {
      display: block;
      font-family: 'Kumar One', cursive;
    }
    .sound {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color-main-dark;
      font-family: $font-main;
    }
  }
}

// animation class
.key-animation{
  transform: scale(1.1);
  background-color: $color-day-1;
  border-color: $color-day-1!important;
}



