.day__3 {
  color: $color-day-2;
  position: relative;
  .day__call-to-action {
    color: $color-day-2;
    animation: none;
    text-align: left;
  }
  .wrap-input{
    margin-bottom: 1rem;
    label{
      margin-right: 1rem;
    }
  }
  input[type=color]{
    width: 4rem;
    height: 4rem;
    border: none;
    padding: 0;
    border-radius: 100%;
    background: none;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: solid 2px $color-day-2; /*change color of the swatch border here*/
    border-radius: 40px;
  }
  input[type="range" i].custom-slider {
    -webkit-appearance: none;     /*nécessaire pour Chrome */
    padding: 0;                   /* nécessaire pour IE */
    font: inherit;                /* même rendu suivant font document */
    outline: none;
    color: $color-day-2;                  /* sert pour couleur de référence, via currentColor, pour le curseur */
    background: $color-action;             /* sert pour couleur de fond de la zone de déplacement */
    box-sizing: border-box;       /* même modèle de boîte pour tous */
    cursor: pointer;
    width: 123px;
    height: 12px;
    border-radius: 16px;
    border: 2px solid $color-day-2;
  }
  /* la zone de déplacement */
  input[type="range" i].custom-slider::-webkit-slider-runnable-track {
    position: relative;
    margin: -1rem;
    border: none;
    border-radius: 0;
    background-color: transparent;  /* supprimé définie sur l'input */
  }
  input[type=range].custom-slider.custom-slider-bullet::-webkit-slider-thumb {
    width: 28px;
    height: 28px;     /* largeur du bord */
    border-radius: 50%;
    background: $color-action;
    border: 2px solid $color-day-2;/* le centre */
    //margin-bottom: 100px!important;
    /* le bord */
  }
  /* le curseur */
  input[type="range" i].custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;       /* également nécessaire sur le curseur */
    width: 1em;
    height: inherit;                /* s'adapte à la hauteur de l'input */
    border: none;
    border-radius: 0;               /* pris en compte sur Webkit et Edge */
    background: currentColor;
    /* pris en compte sur Webkit only */
  }
}
