html {
  background-size: cover;
  font-size: 62.5%;
  body{
      font-family: $font-main;
      background-color: $color-bg;
      color: $color-main-dark;
      padding: $padding-global;
        .day-wrap{
          display: flex;
        }
        .day {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          background-size: cover;
          margin: 0;
          font-family: $font-main;
          font-weight: 300;
          &__link{
            color: $color-main-dark;
            text-decoration: none;
            margin-bottom: $padding-global;
            border-bottom: 1px solid $color-main-dark;
            &:hover{
              color: yellow; //main color-hover
              border-bottom: 1px solid yellow; //main color
            }
            &:active{
              color: $color-text-active;
              border-bottom: 1px solid $color-text-active;
            }
          }
          &__fullwith{
            width: 100%;
          }
          &__title{
            font-size: 2rem;
            font-weight: 400;
            padding: 0.2rem 0.5rem;
            background-color: $color-main-dark;
            color: $color-bg;
            transform: rotate(-6deg);
            display: inline-block;
            font-family: $font-third;
          }
          .fioriture{

          }
          &__info{
            padding-top: $padding-global;
            line-height: 1.9rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
          &__call-to-action{
            line-height: 3.5rem;
            font-size: 3.5rem;
            font-family: $font-second;
            text-align: center;
            padding-bottom: $padding-global;
          }
          &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 $padding-global;
          }
          &__header, &__footer{
            font-size: 1rem;
            letter-spacing: 1px;
            padding: $padding-global;
          }
      &__footer{
        text-align: right;
        width: 100%;
        padding: $padding-global;
      }
    }
  }
}
