//global color
$color-text-active: #ffa767;
$color-main-dark: #213544;
$color-background: #fff;

//day color
$color-day-1: #5afff9;
$color-day-2: $color-main-dark;
$color-day-3: #ff5a60;
$color-day-4: $color-main-dark;

$color-text-hover: #ff5a60;

// font
$font-main: 'Roboto', sans-serif;
$font-second: 'Gelasio', sans-serif;

// animation
$animation-time: 10s;

//padding & margin
$padding-global: 2rem