//variables

$color-main-light: #55ddc8;
$color-main-light-hover: #55ddc8;
$color-main-light-active: #fcffa5;

$color-main-dark: #1a2c39;
$color-text-hover: #fcffa5;
$color-text-active: #ff5a60;

$font-main: 'Roboto', sans-serif;
$font-second: 'Gelasio', sans-serif;

$animation-time: 10s;