//global color
$color-text-active: #ffa767;

//day color
$color-day-1: #55ddc8;
$color-main-dark: #213544;
$color-day-2: #213544;
$color-day-3: #ff5a60;

$color-main-dark: #1a2c39;
$color-text-hover: #ff5a60;

// font
$font-main: 'Roboto', sans-serif;
$font-second: 'Gelasio', sans-serif;

// animation
$animation-time: 10s;