
.day {
  background: url(../src/img/avi-richards-K_IJFxmG2hg-unsplash.jpg);
  background-size: cover;
  margin: 0;
  font-family: $font-main;
  height: 100%;
  width: 50%;
  &__link{
    color: $color-main-light;
    text-decoration: none;
    border-bottom: 1px dotted $color-main-light;
    margin-bottom: 2rem;
    &:hover{
      color: $color-main-light-hover;
      border-color: $color-main-light-hover;
    }
    &:active{
      color: $color-main-light-active;
      border-color: $color-main-light-active;
    }
  }
  &__title{
    font-size: 2rem;
  }
  &__info{
    padding-top: 2rem;
    width: 50%;
    line-height: 1.4rem;
  }
  &__call-to-action{
    line-height: 4rem;
    font-family: $font-second;
    padding: 2rem;
    font-size: 4rem;
    text-align: center;
    animation: color-change $animation-time infinite;
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__header, &__footer{
    font-family: $font-main;
    font-size: 1rem;
    letter-spacing: 1px;
    color: $color-main-light;
    padding: 2rem;
  }
  &__footer{
    text-align: right;
    bottom: 0;
    width: 100%;
    color: $color-main-dark;
  }
}