//variables
$color-text: #55ddc8;
$color-text-credit: #1a2c39;
$color-text-sound: #1a2c39;
$color-text-key: #1a2c39;
$color-text-hover: #fcffa5;
$color-text-active: #ff687b;
$color-border: #1a2c39;
$color-border-hover: #55ddc8;

$font-main: 'Roboto', sans-serif;

html {
  font-family: $font-main;
  background-size: cover;
  font-size: 100%;
  body {
    background: url(../src/img/avi-richards-K_IJFxmG2hg-unsplash.jpg);
    background-size: cover;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    .container{
      display: flex;
      flex-direction: column;
    }
    header, footer {
      font-family: $font-main;
      font-size: 1rem;
      letter-spacing: 1px;
      color: $color-text;
      padding: 2rem;
    }
    .link{
      color: $color-text;
      text-decoration: none;
      border-bottom: 1px solid $color-text;
      margin-bottom: 1rem;
      &:hover{
        color: $color-text-hover;
        border-color: $color-text-hover;
      }
      &:active{
        color: $color-text-active;
        border-color: $color-text-active;
      }
    }
    .credit {
      font-size: 1.2rem;
      letter-spacing: 1px;
      color: $color-text-credit;
      font-weight: 400;
      position: fixed;
      bottom: 0;
      right: 0;
      padding: 2rem;
    }
    .concept{
      padding-top: 2rem;
      width: 50%;
      line-height: 1.4rem;
    }
    .instructions{
      font-family: $font-main;
      padding: 2rem;
      font-size: 4rem;
      color: $color-text;
      text-align: center;
      animation: color-change 10s infinite;
    }
    @keyframes color-change {
      0% { color: #ff433d; }
      100% { color: #fffa6a; }

    }

    .keys {
      display:flex;
      flex:1;
      justify-content: center;
      flex-wrap: wrap;
      min-width: 130px;
    }

    .key {
      border:2px solid $color-border;
      border-radius: 2px;
      margin: 1rem;
      padding: 1rem;
      -webkit-transition: all .07s;
      transition: all .07s;
      text-align: center;
      color: $color-text-key;
      min-width: 130px;
      &:hover{
        transition: 0.07s;
        transform: scale(1.1);
        border-color: $color-border-hover;
        background: $color-text;
        }
    }
    kbd {
        display: block;
        font-size: 5vw;
        font-family: 'Kumar One', cursive;
      }

    .sound {
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color-text-sound;
      font-family: $font-main;
    }
  }

}
// animation class
.key-animation{
  transform: scale(1.1);
  color:#1a2c39!important;
  border-color: $color-text!important;
  background: $color-text;
}

